@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

html, body {
  min-height: 100vh;
}

body {
  margin: 0;
}

.hidden {
  display: none;
}

a, a:visited {
  color: #2a92c6;
  font-weight: 400;
}

.cls-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cls-header {
  max-width: 1300px;
  margin: 0 auto;
  flex: 0 0 auto;
  padding: 1rem 0;
}

.cls-header-title {
  font-weight: 500;
  margin: 0;
}

.cls-header-code {
  font-family: 'Inconsolata', 'inconsolata-fallback', monospace;
}

.cls-app {
  flex: 1 0 auto;
  display: flex;
  align-items: stretch;
}

.cls-footer {
  max-width: 1300px;
  margin: 0 auto;
  flex: 0 0 auto;
  padding: 1rem 0;
}

.cls-control {
  display: flex;
  width: 100%;
  margin: 0 0 0.75rem;
  font-weight: 300;
}

.cls-control--column {
  flex-direction: column;
}

.cls-control__label {
  flex: 1 0 auto;
  width: 10rem;
}

.cls-control__text-label {
  padding-left: 0.25rem;
  color: #666;
  margin-bottom: -0.125rem;
  font-weight: 400;
}

.cls-control__text {
  border: 0;
  width: 100%;
  border-bottom: 1px #9e9e9e solid;
  font-size: 1.25rem;
  padding: 0.15rem 0.25rem;
  margin-bottom: 0.3rem;
  background: transparent;
  box-sizing: border-box;
  height: 2rem;
}

.cls-control__text:focus-visible,
.cls-control__number:focus-visible {
  outline-width: 0;
}

.cls-control__checkbox {
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem 0 0;
  align-self: center;
}

.cls-control__hidden {
  display: none;
}