@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

@font-face {
  font-family: "Open Sans-fallback";
  src: local(Arial);
  ascent-override: 106.88%;
  descent-override: 29.29%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "Inconsolata-fallback";
  src: local(Courier New);
  ascent-override: 95.44%;
  descent-override: 21.1%;
  line-gap-override: 0%;
  size-adjust: 90%;
}

:root {
  --sans-serif: "Open Sans", "Open Sans-fallback", sans-serif;
  --monospace: "Inconsolata", "Inconsolata-fallback", monospace;
  --primary-color: #50b9de;
  --link-color: #2a92c6;
  --border-color: #d9d9d9;
  --border-size: calc(1rem / 16);
}

html,
body {
  min-height: 100vh;
}

body {
  margin: 0;
}

a,
a:visited {
  color: var(--link-color);
  font-weight: 400;
}

pre {
  margin: 0;
  font-family: "Inconsolata", "inconsolata-fallback", monospace;
  font-weight: 400;
}

li {
  margin: 0.5rem 0;
}

.hidden {
  display: none;
}

.cls-control {
  display: flex;
  width: 100%;
  margin: 0 0 0.75rem;
  font-weight: 300;
}

.cls-control--column {
  flex-direction: column;
}

.cls-control__label {
  flex: 1 0 auto;
  width: 10rem;
}

@media screen and (max-width: 75rem) {
  .cls-control__label {
    width: 8rem;
    font-size: 0.9rem;
  }
}

.cls-control__text-label {
  padding-left: 0.25rem;
  color: #666;
  margin-bottom: -0.125rem;
  font-weight: 400;
}

.cls-control__text {
  border: 0;
  width: 100%;
  border-bottom: 1px var(--border-color) solid;
  font-size: 1.25rem;
  padding: 0.15rem 0.25rem;
  margin-bottom: 0.3rem;
  background: transparent;
  box-sizing: border-box;
  height: 2rem;
}

.cls-control__text:focus-visible,
.cls-control__number:focus-visible {
  outline-width: 0;
}

.cls-control__checkbox {
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem 0 0;
  align-self: center;
}

.cls-control__hidden {
  display: none;
}

.cls-control__button {
  color: white;
  background-color: var(--primary-color);
  border: var(--border-size) var(--primary-color) solid;
  font-size: 1rem;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  padding: 0;
}
